header {
	text-align: center;
	font-family: 'Montserrat Subrayada', sans-serif;
	/*font-family: 'Righteous', cursive;*/
}
.weekButton {
	background-color: rgba(44, 130, 201, 1);
	border: 0px solid rgba(255, 255, 255, .7);
  	border-radius: 15px;
  	width: 50vw;
  	height: 6vw;
  	margin-bottom: 2vw;
  	margin-left: 25vw;
  	color: white;
  	box-shadow: 10px 10px;

}