html {
  font-family: 'Bowlby One SC';
}
header {
	text-align: center;  
  /*border: 10px solid brown;*/
  width: 33vw;
  height: 7vw;
  margin-left: 34vw;
  margin-top: -0.5vw;
  margin-bottom: 3vw;
  font-size: 33px;
}

body {
  background-image: url("greenFelt.jpg");
}

.weekButton {
  background-image: url("assets/woodPanel.png");
  background-repeat: no-repeat;
  font-family: 'Bowlby One SC';
	border: 10px solid brown;
  width: 50vw;
  height: 8vw;
  margin-bottom: 1vw;
  margin-left: 25vw;
  color: black;
  font-size: 60px;

}

.board {
  width: 70vw;
  height: 60vh;
  border: 10px solid black;
  margin-left: 15vw;
}

.card {
  width: 5vw;
}