html {
	font-family: 'Bungee', cursive;
}

body {
	display: flex;
	background-color: black;
}


/*index.html begins*/

#homepageDisc img {
	position: fixed;
	top: 5vh;
	left: 25vw;
	width: 50vw;
	cursor: pointer;
}

video, .med {
	position: sticky;
	width: 100%;
	opacity:.8;
}

#homepageGrid {
	z-index: -1;
}

#homepageGrid .recCover {
	filter: blur(16px);
}

#homepageOverlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100vw;
	height: 100vh;
	background-color: #FFFFFF;
	opacity: 0.7;
}


/*index.html ends*/

/*recordlist.html begins*/

.backButton img{
    position: fixed;
    top: 1vw;
    left: 1vw; 
    width: 2vw;
    z-index: 2;
}
.albumGrid {
	margin-top: 13vh;
	display: grid;
	grid-template-columns: 19vw 62vw 19vw;
	grid-template-rows: 41vw;
}
.recCover img {
	width: 20vw;
	z-index: 0;
	padding: .1vw;
}

.recCover img:hover {
	z-index: 1;
	transition-duration: 1.5s;
	transform: scale(1.3);
}

.recordColl {
	display: grid;
	grid-template-columns: repeat(3, 20vw);
	grid-template-rows: repeat(2, 20vw);
	grid-gap: 1vw;
}
/*grid knowledge: https://css-tricks.com/snippets/css/complete-guide-grid/*/

.recordColl img {
	width: 20vw;
}

#artistNameSpace, #albumNameSpace {
	color: white;
	writing-mode: vertical-rl;
	text-orientation: sideways;
	text-align: center;
	vertical-align: middle;
	font-size: 3vh;
}
/* Link for text-orientation https://developer.mozilla.org/en-US/docs/Web/CSS/text-orientation*/

/*recordlist.html ends*/



/*whenicomehome.html begins*/

.frontGrid {
	position: relative;
    top: 0vw;
    left: 0vw; 
	display: grid;
	grid-template-columns: 18.5vw 62vw 18.5vw;
	grid-template-rows: 80vh auto 80vh;
	z-index: 1;
	text-align: center;
}

/*prevents left and right columns from scrolling*/
.leftCol, .rightCol {
	position: sticky;
	top: 0;
}

.rightCol {
	right: 0;
	
}

.backGrid {
	position: fixed;
	padding: 2vw;
    top: 3vw;
    left: 0vw; 
	display: grid;
	grid-template-columns: repeat(4, 24vw);
	grid-template-rows: repeat(7, 24vh);    
	z-index: 0;
}


.track {
	color: grey;
	cursor: pointer;
}

.tracks a:link {
	color:grey;
	text-decoration: none;
}

.active {
	color: white;
}
.tracks a:hover {
	color: white; 
}

.lyrics {
	text-decoration-style: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	color: #8B4513;
	font-size: 8.5vh;
	z-index: -1;
	opacity: 0.2;
	text-align: center;
	margin-top: -10vh;
}

.lyricsKanye {
	text-decoration-style: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	color: #1729B9;
	font-size: 4.8vh;
	z-index: -1;
	opacity: 0.2;
	text-align: center;

}

.recordCovWithDisc {
    position: fixed; 
    top: 0;
    left: 40vw;
    text-align: center;
    font-size: 4vh;
}

.recordCovWithDisc img{
	height: 20vw;
	width: 20vw;
}

.audioPlayer {
	position: fixed;
	padding-top: 1vh;
	top: 22vw;
	left: 40vw;
	width: 20vw;
}

/*whenigethome.html ends*/

/*slow rush*/
#timeBack {
	text-decoration-style: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	color: #8B4513;
	font-size: 8.5vh;
	z-index: -1;
	opacity: 0.4;
	text-align: center;
	
}

#beychellaCrest {
	position: fixed;
	top: 0;
	left: 25vw;
	width: 50vw;
}

#tylerJacket {
	position: fixed;
	top: 0;
	left: 25vw;
	width: 60vw;
}

.recordPlay img{
	width: 25vw;
	margin-top: 5vh;
}

.tracks {
	text-align: center;
	margin-top: 27vw;
	left: 27vw;
	font-size: 2.5vw;
	overflow-x: hidden;
}


audio {
	position: relative;
	
}

@media(max-width: 800px) {
 
	.albumGrid {
		margin-top: 13vh;
		display: grid;
		grid-template-columns: 18.5vw 62vw 18.5vw;;
		grid-template-rows: 93vw;
	}

	.recordColl {
		display: grid;
		grid-template-columns: repeat(2, 30vw);
		grid-template-rows: repeat(3, 30vw);
		grid-gap: 2vw;
	}

	.recCover img {
		width: 30vw;
		z-index: 0;
		padding: .1vw;
	}

	#artistNameSpace, #albumNameSpace {
		color: white;
		/*writing-mode: vertical-rl;*/
		text-orientation: sideways;
		text-align: center;
		vertical-align: middle;
		/*font-size: 100px;*/
	}

	.recordCovWithDisc {
	    position: fixed; 
	    top: 0;
	    left: 25vw;
	    text-align: center;
	    font-size: 4vh;
	}

	.recordCovWithDisc img{
		height: 50vw;
		width: 50vw;
	}

	.audioPlayer {
		position: fixed;
		padding-top: 1vh;
		top: 52vw;
		left: 25vw;
		width: 20vw;
	}

	.tracks {
		text-align: center;
		margin-top: 67vw;
		left: 27vw;
		font-size: 3.5vw;
		overflow-x: hidden;
	}

	.backButton img{
	    position: fixed;
	    top: 1vw;
	    left: 1vw; 
	    width: 5vw;
	    z-index: 2;
	}

	.backGrid {
		position: fixed;
		padding: 2vw;
	    top: 3vw;
	    left: 0vw; 
		display: grid;
		grid-template-columns: repeat(4, 23vw);
		grid-template-rows: repeat(4, 25vh);    
		z-index: 0;
	}

}







