html {
  font-family: 'Bowlby One SC', ;
}
header {
	text-align: center;  
  border: 10px solid black;
  width: 30vw;
  height: 6vw;
  margin-left: 34vw;
  margin-top: -0.5vw;
  background-image: url("assets/woodPanel.png");
  margin-bottom: 3vw;
  font-size: 35px;
}

body {
  background-image: url("assets/palmLeaves.png");
}

.weekButton {
  background-image: url("assets/woodPanel.png");
	border: 10px solid black;
  width: 50vw;
  height: 8vw;
  margin-bottom: 1vw;
  margin-left: 25vw;
  color: black;
  font-size: 60px;

}
